/* m-header */
.m-header {
    display: flex;
    align-items: center;
    height: .6667rem;
    margin: .24rem .2533rem .2933rem .3867rem;

}

.m-header a.logo {
    flex-grow: 1;
}

.m-header a.logo img {
    width: 1.9467rem;
}

.m-header a.search {
    position: relative;
    width: .64rem;
    height: .64rem;
    margin-right: .6533rem;
    font-size: .4rem;
    color: red;
}

.m-header a.search::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m-header a.login {
    display: block;
    width: .6133rem;
    height: .6133rem;
    margin-right: .56rem;
    background: url(../upload/login2@2x.png) no-repeat 100%;
    background-size: cover;
}

.m-header a.download {
    width: 1.92rem;
    height: .64rem;
    background-color: #ff9f00;
    color: #fff;
    text-align: center;
    line-height: .64rem;
    font-size: .32rem;
    border-radius: .1067rem;
}

/* m-nav */
.m-nav {
    height: .9867rem;
    border-bottom: .0133rem solid #f3f3f3;
}

#swiper-nav {
    width: 100%;
    height: 100%;
}

#swiper-nav .swiper-slide {
    height: 100%;
    text-align: center;
}

#swiper-nav .swiper-slide a {
    display: inline-block;
    height: .9867rem;
    line-height: .9867rem;
    box-sizing: border-box;
    border-bottom: .0267rem solid transparent;
    color: #6b6b6b;
    font-size: .3733rem;
}

#swiper-nav .swiper-slide a.active {
    border-bottom: .0267rem solid red;
}

/* m-main */
.m-main {
    margin: .2533rem .2533rem .24rem;
}

.m-banner {
    width: 9.4933rem;
    height: 3.1467rem;
}

#swiper-banner {
    width: 100%;
    height: 100%;
}

#swiper-banner img {
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: #fff;
    opacity: .4;
    width: .1733rem;
    height: .08rem;
    border-radius: 0px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* m-menu */
.m-menu {
    width: 100%;
    height: 4.1867rem;
    padding: .4rem 0 .0133rem;
    margin-top: .24rem;
    background-color: #f7f7f7;
}

.m-menu ul {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.m-menu ul li {
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    padding: 0 .44rem .4rem;

}

.m-menu ul li a {
    display: block;
    padding-bottom: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.m-menu ul li:first-child a {
    background-image: url(../upload/nav2@2x\(1\).png);
}

.m-menu ul li:nth-child(2) a {
    background-image: url(../upload/nav2@2x\(2\).png);
}

.m-menu ul li:nth-child(3) a {
    background-image: url(../upload/nav2@2x\(3\).png);
}

.m-menu ul li:nth-child(4) a {
    background-image: url(../upload/nav2@2x\(4\).png);
}

.m-menu ul li:nth-child(5) a {
    background-image: url(../upload/nav2@2x\(5\).png);
}

.m-menu ul li:nth-child(6) a {
    background-image: url(../upload/nav2@2x\(6\).png);
}

.m-menu ul li:nth-child(7) a {
    background-image: url(../upload/nav2@2x\(7\).png);
}

.m-menu ul li:nth-child(8) a {
    background-image: url(../upload/nav2@2x\(8\).png);
}

.m-menu ul li:nth-child(9) a {
    background-image: url(../upload/nav2@2x\(9\).png);
}

.m-menu ul li:first-child a {
    background-image: url(../upload/nav2@2x\(1\).png);
}

.m-menu ul li:last-child a {
    background-image: url(../upload/nav2@2x\(10\).png);
}

.m-menu ul li span {
    display: block;
    padding-top: .0667rem;
    font-size: .32rem;
}

/* m-recommend */
.m-recommend {
    width: 100%;
    height: 5.3333rem;
    margin-top: .24rem;
    background-color: #f7f7f7;
}

.m-recommend-top {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 1.3867rem;
    text-align: center;
}

.m-recommend-top li {
    width: 1.5467rem;
    height: .5867rem;
    font-size: .2933rem;
    line-height: .56rem;
    border: .0133rem solid #6C6C6C;
    border-radius: .2933rem;
    margin: 0 .3867rem 0 .16rem;
}

.m-recommend-top li.active {
    color: #ff9f00;
    border-color: #ff9f00;

}

.m-recommend-container {
    height: 3.9467rem;

}

.m-recommend-container .m-recommend-list {
    width: 100%;
    height: 100%;
    display: none;
}

#swiper-recommend1 {
    width: 100%;
    height: 100%;
}

/* repeat */
.common-list {
    width: 100%;
}

.common-list a {
    position: relative;
    display: block;
}

.common-list a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.common-list a .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: .7467rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(255, 255, 255, 0));
    padding-right: .16rem;
    padding-left: .1867rem;
    box-sizing: border-box;

}

.common-list a .mask .common-list-play,
.common-list a .mask .common-list-info {
    display: flex;
    align-items: center;
}

.common-list a .mask .common-list-play span,
.common-list a .mask .common-list-info span {
    width: .4133rem;
    height: .36rem;
    background: url(../upload/play02@2x.png) no-repeat;
    background-size: cover;

}

.common-list a .mask .common-list-info span {
    background: url(../upload/comment_32@2x.png) no-repeat;
    background-size: cover;
}

.common-list a .mask .common-list-play i,
.common-list a .mask .common-list-info i {
    font-style: normal;
    font-size: .32rem;
    color: #fff;
    margin-left: .16rem;
}

.common-list .common-list-title {
    height: .7733rem;
    line-height: 1.2;
    margin-top: .1867rem;
}

.common-list p a {
    /* 多行省略号 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
}

/* hot */
.m-hot {
    background-color: #f7f7f7;
    border-radius: .1067rem;
    margin-top: .24rem;
    padding: 0 .2667rem;
}

.m-hot ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3.0933rem;
}


.m-hot ul li a {
    display: flex;
    height: 100%;
    align-items: center;
}

.m-hot ul li a .m-hot-img {
    width: 1.0133rem;
    flex-shrink: 0;
}

.m-hot ul li a .m-hot-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .24rem;
    width: 100%;
    height: 100%;
}

.m-hot ul li a .m-hot-play img {
    width: .5867rem;
    flex-shrink: 0;
}

.m-hot ul li a .m-hot-play {
    margin-right: .2rem;
}

.m-hot ul li a .m-hot-text .m-hot-title {
    font-size: .3467rem;
    line-height: 1;
    color: #ff9f00;
}

.m-hot ul li a .m-hot-text .m-hot-desc {
    color: #000;
    max-width: 6.5333rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .32rem;
    line-height: 1;
}

/* focus */
.m-focus {
    background-color: #f7f7f7;
    border-radius: .1067rem;
    margin-top: .24rem;
}

.m-focus .m-focus-title {
    display: flex;
    align-items: center;
    height: 1.0933rem;
}

.m-focus .m-focus-title span {
    flex-grow: 1;
    font-size: .4267rem;
    margin-left: .1333rem;
}

.m-focus .m-focus-title a {
    display: flex;
    align-items: center;
    color: #b9b9bd;
}

.m-focus .m-focus-title img {
    width: .1467rem;
    margin: 0 .2533rem;
}

.m-focus-content {
    width: 100%;
    height: 4.28rem;
}

#swiper-focus {
    width: 100%;
    height: 100%;
}

#swiper-focus .swiper-slide {
    width: 2.2667rem;
}

.m-focus-content .swiper-slide a {
    display: block;

}

.m-focus-content .swiper-slide a .m-focus-img {
    width: 100%;
    height: 3.04rem;
}

.m-focus-content .swiper-slide a .m-focus-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.m-focus-content .swiper-slide a p {
    color: #000;
    line-height: 1.2;
    margin-top: .04rem;
    text-align: center;
}

/* m-view-list */
.m-view-list {
    margin-top: .24rem;
    margin-bottom: 1.3333rem;
}

.m-view-list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.m-view-list ul li {
    width: 4.6133rem;
    min-width: 1.3333rem;
    margin-bottom: .3733rem;
}

/* tabbar */
.tabbar {
    width: 100%;
    height: cale (1.3333rem + env(safe-area-inset-bottom));
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 222;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.tabbar ul {
    display: flex;
    justify-content: space-between;
    padding: .2rem .5867rem 0rem;
}

.tabbar ul li {
    width: .64rem;
}

.tabbar ul li.share {
    width: 1.04rem;
    height: 1.0133rem;
}

.tabbar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabbar ul li.share a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .3733rem;
    background: #ff9f00 url(../upload/plus@2x.png) no-repeat center;
    background-size: .4133rem .4rem;
}

.tabbar ul li a p {
    margin-top: .0533rem;
    color: #000;
}

.tabbar ul li a p.vip {
    position: relative;
}

.tabbar ul li a p i {
    position: absolute;
    width: .96rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
}

.tabbar img {
    width: .5333rem;
    height: .5333rem;
}